.footer {
	margin-top: 112px;
	* {
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 150%;
	}

	&__top {
		padding-top: 50px;
		padding-bottom: 50px;
		border-top: var(--border-width) solid var(--color-grey);
		border-bottom: var(--border-width) solid var(--color-grey);
		display: grid;
		grid-template-columns: 213px 1fr;
		align-items: center;
		gap: 50px;
		.footer__brand {
			flex-direction: column;
			p {
				font-weight: 400;
				font-size: 14px;
				line-height: 150%;
				color: var(--color-black-50);
			}
		}
		.footer__cols {
			grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
			.footer__col {
				&-header {
					font-weight: 700;
					font-size: 14px;
					line-height: 150%;
					opacity: 0.5;
				}
				ul {
					li {
						margin-top: 10px;
						a {
							font-weight: 400;
							font-size: 12px;
							line-height: 150%;
							opacity: 0.5;
						}
					}
				}
			}
		}
	}
	&__bottom {
		border-bottom: var(--border-width) solid var(--color-grey);
		padding-top: 15px;
		padding-bottom: 15px;
		opacity: 0.5;

		.footer__countries {
			a {
				margin-left: 15px;
			}
		}
		.footer__legal {
			a {
				margin-right: 20px;
				&:last-of-type {
					margin: 0;
				}
			}
		}
	}
}
