.btn {
	background: var(--color-red);
	border-radius: var(--border-radius-100);
	border: 1px solid var(--color-red);
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: var(--color-white);
	padding: 20px 30px;
	width: fit-content;
	&:hover {
		background: var(--color-button-clicked);
		color: var(--color-white);
		border-color: var(--color-button-clicked);
	}
}
.btn--primary {
	.btn;
	transition: background .15s, transform .15s, box-shadow .15s;
	margin-bottom: 15px;
	&:hover {
		transform: translateY(-2px);
		box-shadow: 0 5px 10px rgba(238,65,85,0.32);
	}
}
.btn--secondary {
	.btn;
	background: transparent;
	border-color: var(--color-red);
	color: var(--color-red);
	transition: background .15s, transform .15s, box-shadow .15s;
	margin-bottom: 15px;
	&:hover {
		background: var(--color-red);
		color: var(--color-white);
		transform: translateY(-2px);
		box-shadow: 0 5px 10px rgba(238,65,85,0.32);
	}
}
.header__categories-toggle {
	.btn;
	.flex;
	.flex-center;
	.gap-3;
	background: var(--color-black-20);
	border: var(--border-width) solid var(--color-black-20);
	padding-left: 17px;
	padding-right: 14px;
	
}