@import "./fonts.less";
@import "./reset.less";
@import "./variables.less";
@import "./typography.less";
@import "./utilities.less";
@import "./buttons.less";

body {
	margin: 0;
	overflow-x: hidden;
}
.section--item {
	margin-top: 15px;
	margin-bottom: 105px;
}
.badge {
	position: absolute;
	top: 18px;
	left: 14px;
	background: var(--color-red);
	color: var(--color-white);
	font-size: 10px;
	line-height: 12px;
	font-weight: 500;
	padding: 10px 20px;
	border-radius: var(--border-radius-1000);
	z-index: 2;
	letter-spacing: 0%;
}