@import "./fonts.less";
@import "./reset.less";
@import "./variables.less";
@import "./typography.less";
@import "./utilities.less";
@import "./buttons.less";

body {
	overflow-x: hidden;
	background-image: url('/images/bg.svg');
	background-position: center 100px;
	background-repeat: repeat-y;
	background-size: 100% auto;
}
.section-item {
	margin-top: 15px;
	margin-bottom: 105px;
}
