body {
	font-family: var(--font-base);
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	color: var(--color-black);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	line-height: 1.2;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}

a {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	&:hover {
		color: var(--color-red);
		opacity: 1 !important;
	}
}

small {
	font-size: 14px;
}

.hero-title {
	font-size: 32px;
	line-height: 39px;
}
.section-title {
	font-size: 36px;
	line-height: 44px;
}
.filter-name {
	font-style: italic;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
}
.country-name {
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
}
.recipe-name {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
}
.badge {
	font-style: italic;
	font-weight: 500;
	font-size: 10px;
	line-height: 12px;
}
.video-name {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
}
.news-name {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}